body {
    background-color: #DDA15E;
    border-color: #BC6C25;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    display: flex;
    justify-content: space-around;
    height: 250px;
    /*align-items:flex-start;*/
}

.item {
    margin: 10px;
    vertical-align: middle;
}

a {
    text-align: center;
    height: 150px;
    width: 150px;
}

h1 {
    text-align: center;
}

.preview {
    width: 150px;
    height: auto;
}